@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.acord--inventory-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 16px;

  & > .container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    & > .left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > .top {
        display: flex;
        gap: 8px;

        & > .refresh {
          display: flex;
          align-items: center;
          justify-content: center;
          color: whitesmoke;
          height: 42px;
          background: #1e1f22;
          width: 42px;
          min-width: 42px;
          border-radius: 4px;
          cursor: pointer;

          &.loading {
            svg {
              animation: rotate360 1s linear infinite;
            }
          }
        }
      }

      & > .bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
      }
    }

    & > .right {
      width: 400px;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1255px) {
    & > .container {
      flex-direction: column-reverse;

      & > .right {
        width: 100%;
      }
    }
  }
}
