.acord--discord-input {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  color: var(--text-normal);
  background-color: var(--input-background);
  border: none;
  transition: border-color 0.2s ease-in-out;
}

.acord--discord-input::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--input-placeholder-text);
}

.acord--discord-input:hover {
  border-color: var(--deprecated-text-input-border-hover);
}

.acord--discord-input.focused-16iuXg,
.acord--discord-input:focus {
  border-color: var(--text-link);
}

.acord--discord-input.error-10GvqR {
  border-color: var(--status-danger);
}

.acord--discord-input.success-1V4i3f {
  border-color: var(--green-360);
}

.acord--discord-input.disabled-1-f06g {
  border-color: var(--deprecated-text-input-border-disabled);
}

.acord--discord-input.editable-1wRwlY {
  background-color: transparent;
  border-color: transparent;
}

.acord--discord-inputWrapper {
  position: relative;
}

.theme-dark .acord--discord-inputDefault::placeholder {
  color: hsl(var(--primary-100-hsl) / 0.3);
}

.theme-dark .acord--discord-inputDefault {
  color: var(--primary-100);
}

.theme-light .acord--discord-inputDefault::placeholder {
  color: hsl(var(--primary-500-hsl) / 0.3);
}

.theme-light .acord--discord-inputDefault {
  color: var(--primary-500);
}

.acord--discord-input-inner {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  padding: 10px 0 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.acord--discord-input-inner {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  flex: 1 1 auto;
  border: none;
  transition: color 0.15s ease;
  cursor: text;
}
