.acord--home-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 16px;
  width: 100%;

  & > .container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > .banner {
      width: 100%;
      height: 150px;
      background-image: url("https://raw.githubusercontent.com/acord-standalone/assets/main/logo/acord-full-name.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    & > .content {
      font-size: 18px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .auth-card {
        border-radius: 4px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        contain: content;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: var(--elevation-medium);
        gap: 16px;

        .title {
          font-size: 24px;
          font-weight: 600;
          color: whitesmoke;
        }

        .input-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          width: 100%;

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }

          .action {
            display: flex;
            align-items: center;
            justify-content: center;
            color: whitesmoke;
            height: 42px;
            background: #1e1f22;
            width: 42px;
            min-width: 42px;
            border-radius: 4px;
            cursor: pointer;

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
