.acord--discord-select {
  position: relative;
  width: 100%;

  & > .options {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 286px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;

    &.top-popout {
      top: auto;
      bottom: 100%;
    }
  }
}

.acord--discord-select {
  border: 1px solid transparent;
  padding: 8px 8px 8px 12px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.acord--discord-select {
  color: var(--text-normal);
  font-weight: 500;
}

.acord--discord-select-lookFilled.acord--discord-select-option,
.acord--discord-select-lookFilled.acord--discord-select:hover.acord--discord-select-option {
  border-bottom-color: var(--brand-experiment);
  border-color: var(--brand-experiment) var(--brand-experiment) var(--background-tertiary);
}

.acord--discord-select-lookFilled.acord--discord-select {
  background-color: var(--input-background);
  border-color: var(--input-background);
}

.acord--discord-select-popout {
  box-sizing: border-box;
  border: 1px solid var(--background-tertiary);
  background: var(--background-secondary);
  border-radius: 0 0 4px 4px;
}

.acord--discord-select-lookFilled.acord--discord-select-popout {
  border-radius: 0 0 3px 3px;
}

.acord--discord-select-lookFilled.acord--discord-select-popout.popoutPositionTop-3Uhefd {
  border-radius: 3px 3px 0 0;
}

.acord--discord-select-open {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.selectPositionTop-3OGkHL.acord--discord-select-open {
  border-radius: 0 0 4px 4px;
}

.placeholder-2k_BvH,
.acord--discord-select-value {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper-mJT04A .acord--discord-select-value {
  display: flex;
}

.wrapper-mJT04A .acord--discord-select-value.multi-2vPqc4 {
  display: block;
  white-space: normal;
}

.acord--discord-select-value {
  gap: 8px;
}

.acord--discord-select-value {
  display: flex;
  align-items: center;
}

.acord--discord-select-icons {
  gap: 4px;
}

.acord--discord-select-icons,
.acord--discord-select-value {
  display: flex;
  align-items: center;
}

.wrapper-mJT04A .acord--discord-select-icons {
  grid-column: 2;
  grid-row: 1;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  pointer-events: none;
}

.acord--discord-select-scrollerBase {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.acord--discord-select-scrollThin {
  scrollbar-width: thin;
}

.acord--discord-select-scrollThin,
.acord--discord-select-scrollThin.fade-27X6bG.scrolling-37kgoT,
.acord--discord-select-scrollThin.fade-27X6bG:hover {
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}

.acord--discord-select-scrollThin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.acord--discord-select-scrollThin::-webkit-scrollbar-track {
  border-color: var(--scrollbar-thin-track);
  background-color: var(--scrollbar-thin-track);
  border: 2px solid var(--scrollbar-thin-track);
}

.acord--discord-select-scrollThin::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}

.acord--discord-select-scrollThin::-webkit-scrollbar-corner {
  background-color: transparent;
}

.theme-dark.custom-theme-background .customTheme-3QAYZq.acord--discord-select-scrollThin::-webkit-scrollbar-thumb {
  background-size: 200vh;
  background-image: linear-gradient(
      rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4)),
      rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4))
    ),
    var(--custom-theme-background);
}

.theme-light.custom-theme-background .customTheme-3QAYZq.acord--discord-select-scrollThin::-webkit-scrollbar-thumb {
  background-size: 100vh;
  background-image: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6)),
    rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-3));
}

.acord--discord-select-lookFilled.acord--discord-select-option,
.acord--discord-select-lookFilled.acord--discord-select:hover.acord--discord-select-option {
  border-bottom-color: var(--brand-experiment);
  border-color: var(--brand-experiment) var(--brand-experiment) var(--background-tertiary);
}

.acord--discord-select-option {
  padding: 12px;
  cursor: pointer;
  color: var(--interactive-normal);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;
}

.acord--discord-select-option.focused-10mbp-,
.acord--discord-select-option:focus,
.acord--discord-select-option:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}

.acord--discord-select-option[aria-selected="true"]:not(.acord--discord-select-option.multi-2vPqc4) {
  color: var(--interactive-active);
  background-color: var(--background-modifier-selected);
}

.acord--discord-select-selectedIcon {
  color: var(--brand-experiment);
}
