.acord--discord-select {
  position: relative;
  width: 100%;

  & > .options {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 286px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;

    &.top-popout {
      top: auto;
      bottom: 100%;
    }
  }
}

.select-Zz0IcO {
  border: 1px solid transparent;
  padding: 8px 8px 8px 12px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}

.select-Zz0IcO {
  color: var(--text-normal);
  font-weight: 500;
}

.lookFilled-GPyucw.option-Uc12mm,
.lookFilled-GPyucw.select-Zz0IcO:hover.option-Uc12mm {
  border-bottom-color: var(--brand-experiment);
  border-color: var(--brand-experiment) var(--brand-experiment) var(--background-tertiary);
}

.lookFilled-GPyucw.select-Zz0IcO {
  background-color: var(--input-background);
  border-color: var(--input-background);
}

.popout-15UxD6 {
  box-sizing: border-box;
  border: 1px solid var(--background-tertiary);
  background: var(--background-secondary);
  border-radius: 0 0 4px 4px;
}

.lookFilled-GPyucw.popout-15UxD6 {
  border-radius: 0 0 3px 3px;
}

.lookFilled-GPyucw.popout-15UxD6.popoutPositionTop-3Uhefd {
  border-radius: 3px 3px 0 0;
}

.open-LeyjhI {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.selectPositionTop-3OGkHL.open-LeyjhI {
  border-radius: 0 0 4px 4px;
}

.placeholder-2k_BvH,
.value-2en4z7 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper-mJT04A .value-2en4z7 {
  display: flex;
}

.wrapper-mJT04A .value-2en4z7.multi-2vPqc4 {
  display: block;
  white-space: normal;
}

.value-2en4z7 {
  gap: 8px;
}

.value-2en4z7 {
  display: flex;
  align-items: center;
}

.icons-2ibyma {
  gap: 4px;
}

.icons-2ibyma,
.value-2en4z7 {
  display: flex;
  align-items: center;
}

.wrapper-mJT04A .icons-2ibyma {
  grid-column: 2;
  grid-row: 1;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  pointer-events: none;
}

.scrollerBase-1Pkza4 {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.thin-RnSY0a {
  scrollbar-width: thin;
}

.thin-RnSY0a,
.thin-RnSY0a.fade-27X6bG.scrolling-37kgoT,
.thin-RnSY0a.fade-27X6bG:hover {
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}

.thin-RnSY0a::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.thin-RnSY0a::-webkit-scrollbar-track {
  border-color: var(--scrollbar-thin-track);
  background-color: var(--scrollbar-thin-track);
  border: 2px solid var(--scrollbar-thin-track);
}

.thin-RnSY0a::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}

.thin-RnSY0a::-webkit-scrollbar-corner {
  background-color: transparent;
}

.theme-dark.custom-theme-background .customTheme-3QAYZq.thin-RnSY0a::-webkit-scrollbar-thumb {
  background-size: 200vh;
  background-image: linear-gradient(
      rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4)),
      rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4))
    ),
    var(--custom-theme-background);
}

.theme-light.custom-theme-background .customTheme-3QAYZq.thin-RnSY0a::-webkit-scrollbar-thumb {
  background-size: 100vh;
  background-image: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6)),
    rgb(var(--bg-overlay-color) / var(--bg-overlay-opacity-3));
}

.lookFilled-GPyucw.option-Uc12mm,
.lookFilled-GPyucw.select-Zz0IcO:hover.option-Uc12mm {
  border-bottom-color: var(--brand-experiment);
  border-color: var(--brand-experiment) var(--brand-experiment) var(--background-tertiary);
}

.option-Uc12mm {
  padding: 12px;
  cursor: pointer;
  color: var(--interactive-normal);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;
}

.option-Uc12mm.focused-10mbp-,
.option-Uc12mm:focus,
.option-Uc12mm:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}

.option-Uc12mm[aria-selected="true"]:not(.option-Uc12mm.multi-2vPqc4) {
  color: var(--interactive-active);
  background-color: var(--background-modifier-selected);
}
