.acord--inventory-hat-feature-card {
  width: 100%;
  & > .content {
    --outline-color: #949ba4;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid var(--outline-color);

    &.enabled {
      --outline-color: #5662f6;
    }

    & > .top {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      width: 100%;
      padding: 16px;
      height: 128px;
      display: flex;
      justify-content: space-between;

      & > .left {
        display: flex;
        height: 100%;
        gap: 16px;

        & > .left {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 64px;

          .template {
            width: 48px;
            height: 48px;
            background-color: var(--outline-color);
            border-radius: 50%;

            &::before {
              content: "";
              width: 96px;
              height: 96px;
              z-index: 99;
              background: var(--hat-image) center/cover;
              transform: translate(-24px, -24px);
              position: absolute;
              pointer-events: none;
            }
          }
        }

        & > .right {
          display: flex;
          flex-direction: column;

          & > .name {
            font-size: 24px;
            font-weight: 500;
            color: whitesmoke;
            opacity: 0.95;
          }

          & > .duration {
            font-size: 12px;
            font-weight: 300;
            color: whitesmoke;
            opacity: 0.75;
          }
        }
      }

      & > .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        height: 100%;

        & > .top {
          display: flex;
          justify-content: flex-end;
          .control {
            display: flex;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            color: whitesmoke;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
