.acord--discord-textarea {
  width: 100%;
}

.acord--discord-textarea-inputWrapper {
  display: flex;
  flex-direction: column;
}

.acord--discord-textarea-inputDefault {
  padding: 10px;
  height: 40px;
}

.acord--discord-textarea-input {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  color: var(--text-normal);
  background-color: var(--input-background);
  border: none;
  transition: border-color 0.2s ease-in-out;
}

.acord--discord-textarea-input::placeholder {
  user-select: none;
  color: var(--input-placeholder-text);
}

.acord--discord-textarea-input:hover {
  border-color: var(--deprecated-text-input-border-hover);
}

.acord--discord-textarea-input:focus {
  border-color: var(--text-link);
}

.acord--discord-textarea-input.error {
  border-color: var(--status-danger);
}

.acord--discord-textarea-input.success {
  border-color: var(--green-360);
}

.acord--discord-textarea-input.disabled {
  border-color: var(--deprecated-text-input-border-disabled);
}

.acord--discord-textarea-input.editable {
  background-color: transparent;
  border-color: transparent;
}

.acord--discord-textarea-textArea {
  height: auto;
  resize: none;
}

.acord--discord-textarea-scrollbarDefault::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.acord--discord-textarea-scrollbarDefault::-webkit-scrollbar-thumb,
.acord--discord-textarea-scrollbarDefault::-webkit-scrollbar-track {
  border-radius: 7px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.acord--discord-textarea-scrollbarDefault::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
}

.acord--discord-textarea-scrollbarDefault::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
  border-width: initial;
}

.acord--discord-textarea-scrollbar::-webkit-scrollbar-corner {
  border: none;
  background: none;
}
