.acord--config {
  &-item {
    width: 100%;
    display: flex;
  }

  &-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    &.horizontal-align-left {
      justify-content: flex-start;
    }

    &.horizontal-align-right {
      justify-content: flex-end;
    }

    &.horizontal-align-center {
      justify-content: center;
    }

    &.justify-space-between {
      justify-content: space-between;
    }

    &.justify-space-around {
      justify-content: space-around;
    }

    &.vertical-align-top {
      align-items: flex-start;
    }

    &.vertical-align-bottom {
      align-items: flex-end;
    }
  }

  &-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    &.horizontal-align-left {
      justify-content: flex-start;
    }

    &.horizontal-align-right {
      justify-content: flex-end;
    }

    &.horizontal-align-center {
      justify-content: center;
    }

    &.justify-space-between {
      justify-content: space-between;
    }

    &.justify-space-around {
      justify-content: space-around;
    }

    &.vertical-align-top {
      align-items: flex-start;
    }

    &.vertical-align-bottom {
      align-items: flex-end;
    }

    &.vertical-align-center {
      align-items: center;
    }
  }

  &-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: whitesmoke;
  }

  &-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.85);
  }

  &-check,
  &-button {
    width: fit-content;
  }
}
