[class*="acord--"] {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

@keyframes updateAnimation {
  0% {
    filter: brightness(1) drop-shadow(0px 0px 0px #5865f2);
  }

  50% {
    filter: brightness(1.1) drop-shadow(0px 0px 2px #5865f2);
  }

  100% {
    filter: brightness(1) drop-shadow(0px 0px 0px #5865f2);
  }
}

.acord {
  &--tabs-content-container {
    padding: 32px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &.no-padding {
      padding: 0;
    }

    & > .tab {
      width: 100%;
    }
  }

  &--tabs-tab-button {
    cursor: pointer;

    &.explore-tab-button {
      background-color: var(--status-positive-background);
      color: var(--status-positive-text);

      &:hover:not(.selected) {
        background-color: var(--status-positive-background) !important;
        color: var(--status-positive-text) !important;
      }

      &.selected {
        color: var(--text-positive);
        background-color: transparent;
      }
    }

    &.store-tab-button {
      background-image: linear-gradient(to right, #4900fa, #d100fc) !important;
      color: whitesmoke;

      &.selected,
      &:hover {
        color: whitesmoke;
        background-image: linear-gradient(to right, hsl(258, 100%, 60%), hsl(290, 100%, 60%)) !important;
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &--connected-status {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-left: 8px;
    background: #ed4245;

    &.connected {
      background: #23a559;
    }
  }

  &--update-required {
    background-color: #5865f2;
    padding: 4px 8px;
    border-radius: 9999px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    animation: updateAnimation 1s infinite normal;
    z-index: 99;
    margin: 4px;
  }
}
