[class*="acord--"] {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.acord {
  &--tabs-content-container {
    padding: 32px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    & > .tab {
      width: 100%;
    }
  }

  &--tabs-tab-button {
    &.store-tab-button {
      background-color: var(--status-positive-background);
      color: var(--status-positive-text);

      &.selected {
        color: var(--text-positive);
        background-color: var(--background-modifier-selected);
      }
    }
  }
}
