.acord--inventory-hat-feature-card {
  & > .content {
    display: flex;
    width: 175px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: var(--elevation-medium);
    border: 4px solid #949ba4;
    transition: border 100ms ease-in-out, background-color 100ms ease-in-out;
    position: relative;
    flex-direction: column;
    gap: 8px;

    margin-right: calc(64px / 2);
    margin-top: calc(64px / 2);

    & > .template {
      position: absolute;
      width: 64px;
      height: 64px;
      right: calc(64px / 2 * -1);
      top: calc(64px / 2 * -1);
      background-color: #949ba4;
      border-radius: 50%;

      &::before {
        content: "";
        width: 128px;
        height: 128px;
        z-index: 99;
        background: var(--hat-image) center/cover;
        transform: translate(-32px, -32px);
        position: absolute;
        pointer-events: none;
      }
    }

    & > .duration {
      position: absolute;
      width: fit-content;
      width: calc(100% - 32px);
      height: 20px;
      left: 16px;
      bottom: calc(20px / 2 * -1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 12px;
      background-color: #949ba4;
      color: black;
    }

    &.enabled {
      border: 4px solid #5662f6;
      & > .template,
      & > .duration {
        background-color: #5662f6;
        color: whitesmoke;
      }
    }

    & > .top {
      padding: 16px;
      height: 100%;

      & > .name {
        font-size: 18px;
        font-weight: 500;
        color: var(--header-primary);
        opacity: 0.95;
        width: calc(100% - 32px);
        word-break: break-word;
        margin-bottom: 8px;
      }

      & > .settings {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &.loading {
          opacity: 0.5;
          pointer-events: none;
        }

        .line {
          display: flex;
          align-items: center;
          gap: 4px;
          color: whitesmoke;
          opacity: 0.95;

          & > .control {
            display: flex;
            cursor: pointer;
          }

          & > .label {
            font-size: 14px;
          }
        }
      }
    }

    & > .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;

      & > .settings-toggle {
        color: whitesmoke;
        font-size: 14px;
        opacity: 0.75;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
