.acord--installed-extension-card {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > .top {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    height: 100px;
  }
}
