.acord--store-extension-card {
  width: 275px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  contain: content;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: var(--elevation-medium);

  & > .preview {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;

    & > .controls {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .go {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--header-primary);
        font-weight: 600;
        cursor: pointer;
      }
    }

    & > .name-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--header-primary);
      padding: 8px;
      width: 100%;

      & > .name {
        font-size: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 8px;
        border-radius: 9999px;
      }
    }
  }

  & > .info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
    height: 150px;
    width: 100%;

    & > .top {
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: 100%;

      & > .name-container {
        display: flex;
        align-items: flex-end;
        gap: 4px;
        width: 100%;

        & > .name {
          font-size: 18px;
          font-weight: 500;
          color: var(--header-primary);
        }

        & > .version {
          font-size: 12px;
          font-weight: 500;
          color: var(--header-primary);
          opacity: 0.5;
        }
      }

      & > .description {
        font-size: 14px;
        font-weight: 300;
        color: var(--header-primary);
        opacity: 0.75;
        width: 100%;
      }
    }

    & > .bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;

      & > .left {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        & > .authors {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .author {
            display: flex;
            align-items: center;
            border-radius: 9999px;
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;

            & > .image {
              border-radius: 50%;
              width: 18px;
              height: 18px;
              background-color: var(--brand-500);
              background-position: center;
              background-size: cover;
            }

            & > .name {
              font-size: 10px;
              font-weight: 400;
              color: var(--header-primary);
              opacity: 0.75;
              padding: 6px;
            }
          }
        }
      }

      & > .right {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        & > .controls {
          display: flex;
          align-items: center;
          gap: 8px;

          .control {
            display: flex;
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            color: whitesmoke;
            cursor: pointer;

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.5);
            }

            &.uninstall:hover {
              color: #f23f42;
            }
          }
        }
      }
    }
  }
}
