.acord--inventory-profile-music-feature-card {
  & > .content {
    display: flex;
    width: 175px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: var(--elevation-medium);
    border: 4px solid #949ba4;
    transition: border 100ms ease-in-out, background-color 100ms ease-in-out;
    position: relative;
    flex-direction: column;
    gap: 8px;

    margin-right: calc(64px / 2);
    margin-top: calc(64px / 2);

    & > .template {
      position: absolute;
      width: 64px;
      height: 64px;
      right: calc(64px / 2 * -1);
      top: calc(64px / 2 * -1);
      background-color: #949ba4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99999;

      & > .spotify-action {
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--header-primary);
        cursor: pointer;
        transition: all 100ms ease-in-ou;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }

    & > .duration {
      position: absolute;
      width: fit-content;
      width: calc(100% - 32px);
      height: 20px;
      left: 16px;
      bottom: calc(20px / 2 * -1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      font-size: 12px;
      background-color: #949ba4;
      color: black;
    }

    &.enabled {
      border: 4px solid #5662f6;
      & > .template,
      & > .duration {
        background-color: #5662f6;
        color: whitesmoke;
      }
    }

    & > .top {
      padding: 16px;
      height: 175px;
      overflow: auto;
      overflow-x: hidden;
      overflow-wrap: break-word;
      word-break: break-all;

      & > .name {
        font-size: 18px;
        font-weight: 500;
        color: var(--header-primary);
        opacity: 0.95;
        width: calc(100% - 32px);
        word-break: break-word;
        margin-bottom: 8px;
      }

      & > .settings {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &.loading {
          opacity: 0.5;
          pointer-events: none;
        }

        .line {
          display: flex;
          align-items: center;
          gap: 6px;
          color: whitesmoke;
          opacity: 0.95;

          &.column {
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
          }

          & > .control {
            display: flex;
            cursor: pointer;
          }

          & > .label {
            font-size: 14px;
          }

          & > .small-label {
            font-size: 10px;
          }

          & > .info-input {
            border: none;
            border-bottom: 1px solid whitesmoke;
            background-color: rgba(0, 0, 0, 0.2);
            padding: 2px;
            border-radius: 4px;
            font-size: 14px;
            color: whitesmoke;
            width: 100%;

            &.error {
              border: 1px solid #f23f43;
            }
          }
        }
      }
    }

    & > .bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 16px;
      padding-bottom: 16px;

      & > .settings-toggle {
        color: whitesmoke;
        font-size: 14px;
        opacity: 0.75;
        font-weight: 300;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
