.acord--cosmetics-items-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  & > .container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > .nav {
      width: 100%;
      max-width: 1024px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;

      & > .left {
        display: flex;
        gap: 8px;
        align-items: center;

        & > .back {
          display: flex;
          align-items: center;
          justify-content: center;
          color: whitesmoke;
          padding: 4px;
          cursor: pointer;

          border-radius: 50%;

          &:hover {
            background-color: rgba(245, 245, 245, 0.25);
          }

          svg {
            width: 24px;
            height: 24px;
          }

          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }

        & > .title {
          font-size: 32px;
          font-weight: 600;
          color: whitesmoke;
        }
      }
    }
  }

  .items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}
