.acord--gradient-name {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.acord--gradient-mention {
  width: fit-content;
}

[class*="userText-"] > [class*="nickname-"] {
  width: fit-content;
}
