.acord--gradient-name {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.acord--gradient-mention {
  width: fit-content;
}

[class*="userText-"] > [class*="nickname-"] {
  width: fit-content;
}

.channel-1Shao0 .avatar-1HDIsL::before {
  content: "";
  width: 64px;
  height: 64px;
  background: var(--hat-image) center/cover;
  z-index: 99;
  position: absolute;
  pointer-events: none;
}

.message-2CShn3.groupStart-3Mlgv1:not(.systemMessage-1H1Z20) .contents-2MsGLg::before {
  content: "";
  width: 80px;
  height: 80px;
  z-index: 99;
  background: var(--hat-image) center/cover;
  transform: translate(-76px, -18px);
  position: absolute;
  pointer-events: none;
}

.wrapper-3Un6-K[style*="120px"]::before {
  content: "";
  width: 240px;
  height: 240px;
  z-index: 99;
  background: var(--hat-image) center/cover;
  transform: translate(-60px, -60px);
  position: absolute;
  pointer-events: none;
}

.wrapper-3Un6-K[style*="32px"]::before {
  content: "";
  width: 64px;
  height: 64px;
  z-index: 99;
  background: var(--hat-image) center/cover;
  transform: translate(-16px, -16px);
  position: absolute;
  pointer-events: none;
}

.userAvatar-3Hwf1F::before,
.avatar-2EVtgZ::before,
.wrapper-3Un6-K[style*="24px"]::before {
  content: "";
  width: 48px;
  height: 48px;
  z-index: 99;
  background: var(--hat-image) center/cover;
  transform: translate(-12px, -12px);
  position: absolute;
  pointer-events: none;
}

.avatarWrapper-24Rbpj[style*="80px"]::before,
.wrapper-3Un6-K[style*="80px"]::before {
  content: "";
  width: 160px;
  height: 160px;
  background: var(--hat-image) center/cover;
  transform: translate(-40px, -40px);
  z-index: 99;
  position: absolute;
  pointer-events: none;
}

.avatarWrapper-24Rbpj[style*="40px"]::before {
  content: "";
  width: 80px;
  height: 80px;
  background: var(--hat-image) center/cover;
  transform: translate(-20px, -20px);
  z-index: 99;
  position: absolute;
  pointer-events: none;
}
