.acord--discord-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  user-select: none;
}

.acord--discord-button:disabled,
.acord--discord-button[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}

.acord--discord-button .acord--discord-button-contents {
  --button--underline-color: transparent;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--button--underline-color) 0,
    var(--button--underline-color) 2px,
    transparent 0
  );
}

.acord--discord-button-lookFilled.colorBrand {
  color: var(--white-500);
  background-color: var(--brand-experiment);
}

.acord--discord-button-lookFilled.colorBrand:hover {
  background-color: var(--brand-experiment-560);
}

.acord--discord-button-lookFilled.colorBrand:active {
  background-color: var(--brand-experiment-600);
}

.acord--discord-button-lookFilled.colorBrand .spinnerItem-3Y5NsU {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorBrand:disabled,
.acord--discord-button-lookFilled.colorBrand[aria-disabled="true"] {
  background-color: var(--brand-experiment);
}

.acord--discord-button-lookFilled.colorPrimary {
  color: var(--white-500);
  background-color: var(--button-secondary-background);
}

.acord--discord-button-lookFilled.colorPrimary:hover {
  background-color: var(--button-secondary-background-hover);
}

.acord--discord-button-lookFilled.colorPrimary:active {
  background-color: var(--button-secondary-background-active);
}

.acord--discord-button-lookFilled.colorPrimary .spinnerItem-3Y5NsU {
  background-color: var(--primary-100);
}

.acord--discord-button-lookFilled.colorPrimary:disabled,
.acord--discord-button-lookFilled.colorPrimary[aria-disabled="true"] {
  background-color: var(--button-secondary-background-disabled);
}

.acord--discord-button-lookFilled.colorGreen {
  color: var(--white-500);
  background-color: var(--button-positive-background);
}

.acord--discord-button-lookFilled.colorGreen:hover {
  background-color: var(--button-positive-background-hover);
}

.acord--discord-button-lookFilled.colorGreen:active {
  background-color: var(--button-positive-background-active);
}

.acord--discord-button-lookFilled.colorGreen .spinnerItem-3Y5NsU {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorGreen:disabled,
.acord--discord-button-lookFilled.colorGreen[aria-disabled="true"] {
  background-color: var(--button-positive-background-disabled);
}

.acord--discord-button-lookFilled.colorRed {
  color: var(--white-500);
  background-color: var(--button-danger-background);
}

.acord--discord-button-lookFilled.colorRed:hover {
  background-color: var(--button-danger-background-hover);
}

.acord--discord-button-lookFilled.colorRed:active {
  background-color: var(--button-danger-background-active);
}

.acord--discord-button-lookFilled.colorRed .spinnerItem-3Y5NsU {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorRed:disabled,
.acord--discord-button-lookFilled.colorRed[aria-disabled="true"] {
  background-color: var(--button-danger-background-disabled);
}

.acord--discord-button-lookFilled.colorBrandNew {
  color: var(--white-500);
  background-color: var(--brand-500);
}

.acord--discord-button-lookFilled.colorBrandNew:hover {
  background-color: var(--brand-560);
}

.acord--discord-button-lookFilled.colorBrandNew:active {
  background-color: var(--brand-600);
}

.acord--discord-button-lookFilled.colorBrandNew .spinnerItem-3Y5NsU {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorBrandNew:disabled,
.acord--discord-button-lookFilled.colorBrandNew[aria-disabled="true"] {
  background-color: var(--brand-500);
}

.acord--discord-button-lookFilled.colorWhite {
  color: var(--primary-500);
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorWhite:active,
.acord--discord-button-lookFilled.colorWhite:hover {
  background-color: null;
}

.acord--discord-button-lookFilled.colorWhite .spinnerItem-3Y5NsU {
  background-color: var(--primary-500);
}

.acord--discord-button-lookFilled.colorWhite:disabled,
.acord--discord-button-lookFilled.colorWhite[aria-disabled="true"] {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorYellow {
  color: var(--white-500);
  background-color: var(--status-warning);
}

.acord--discord-button-lookFilled.colorYellow:active,
.acord--discord-button-lookFilled.colorYellow:hover {
  background-color: null;
}

.acord--discord-button-lookFilled.colorYellow .spinnerItem-3Y5NsU {
  background-color: var(--white-500);
}

.acord--discord-button-lookFilled.colorYellow:disabled,
.acord--discord-button-lookFilled.colorYellow[aria-disabled="true"] {
  background-color: var(--status-warning);
}

.acord--discord-button-grow {
  width: auto;
}

.acord--discord-button .acord--discord-button-contents {
  --button--underline-color: transparent;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--button--underline-color) 0,
    var(--button--underline-color) 2px,
    transparent 0
  );
}

.acord--discord-button.sizeTiny {
  width: 52px;
  height: 24px;
  min-width: 52px;
  min-height: 24px;
}

.acord--discord-button.sizeSmall {
  width: 60px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
}

.acord--discord-button.sizeMedium {
  width: 96px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
}

.acord--discord-button.sizeLarge {
  width: 130px;
  height: 44px;
  min-width: 130px;
  min-height: 44px;
}

.acord--discord-button.sizeXlarge {
  width: 148px;
  height: 50px;
  min-width: 148px;
  min-height: 50px;
  font-size: 16px;
  line-height: normal;
  padding: 2px 20px;
}

.acord--discord-button.sizeMin {
  display: inline;
  width: auto;
  height: auto;
  padding: 2px 4px;
}

.acord--discord-button.sizeMax {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: 16px;
}
