.acord--discord-check {
  color: var(--white-700);
  background-color: currentColor;
  z-index: 0;

  .slider {
    transition: 100ms ease-in-out all;
    left: -3px;
  }

  &.checked {
    color: var(--green-400);

    .slider {
      transition: 100ms ease-in-out all;
      left: 12px;
    }
  }
}

.container-1QtPKm {
  position: relative;
  width: 40px;
  height: 24px
}

.container-1QtPKm,
.input-125oad {
  border-radius: 14px;
  cursor: pointer
}

.slider-HJFN2i {
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 18px;
  margin: 3px
}